In [86]:
import pandas as pd
import csv
import os

### Lista de arquivos

Criando uma lista de arquivos utilizando o pacote os

In [87]:
dir_list = []
for l in os.listdir("C:\workspace\dash-voos-sbrf\datasets"):
    if l.endswith(".CSV"):
        dir_list.append(l)
print(dir_list)

['201801.CSV', '201802.CSV', '201803.CSV', '201804.CSV', '201805.CSV', '201806.CSV', '201807.CSV', '201808.CSV', '201809.CSV', '201810.CSV', '201811.CSV', '201812.CSV', '201901.CSV', '201902.CSV', '201903.CSV', '201904.CSV', '201905.CSV', '201906.CSV', '201907.CSV', '201908.CSV', '201909.CSV', '201910.CSV', '201911.CSV', '201912.CSV', '202001.CSV', '202002.CSV', '202003.CSV', '202004.CSV', '202005.CSV', '202006.CSV', '202007.CSV', '202008.CSV', '202009.CSV', '202010.CSV', '202011.CSV', '202012.CSV', '202101.CSV', '202102.CSV', '202103.CSV', '202104.CSV', '202105.CSV', '202106.CSV', '202107.CSV', '202108.CSV', '202109.CSV', '202110.CSV', '202111.CSV', '202112.CSV', '202201.CSV', '202202.CSV', '202203.CSV', '202204.CSV', '202205.CSV', '202206.CSV', '202207.CSV', '202208.CSV']

In [110]:
df_sbrf = pd.DataFrame(columns=['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS'])

### UnicodeDecodeError

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xea in position 12: invalid continuation byte

O erro foi causado possivelmente pelo Python estar pegando o enconding local da máquina e este não ser utf-8.

A solução é declarar o enconding diretamente na codificação.

PS: declarar o enconding utf-8 não funcionou, foi necessario declarar o encoding='ISO-8859-1'.

In [ ]:
for c in range(len(dir_list)):
    df_temp = pd.read_csv(dir_list[c], sep=';')
    df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
    df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)

### AttributeError

AttributeError: 'DataFrame' object has no attribute 'ORIGEM'

Isso ocorreu pois alguns dos arquivos CSV tem o cabeçalho diferente.

A solução foi usar *df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']* para alterar os nomes das colunas

In [ ]:
for c in range(len(dir_list)):
    df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
    df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
    df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)

In [96]:
for c in range(len(dir_list)):
    try:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)
    except:
        print(f'erro no arquivo: {dir_list[c]}')

erro no arquivo: 201802.CSV
erro no arquivo: 201803.CSV
erro no arquivo: 201804.CSV
erro no arquivo: 201805.CSV
erro no arquivo: 201806.CSV
erro no arquivo: 201807.CSV
erro no arquivo: 201808.CSV
erro no arquivo: 201810.CSV
erro no arquivo: 201811.CSV
erro no arquivo: 201812.CSV
erro no arquivo: 201903.CSV
erro no arquivo: 201912.CSV
erro no arquivo: 202001.CSV
erro no arquivo: 202002.CSV
erro no arquivo: 202003.CSV
erro no arquivo: 202005.CSV
erro no arquivo: 202006.CSV
erro no arquivo: 202007.CSV
erro no arquivo: 202008.CSV
erro no arquivo: 202009.CSV
erro no arquivo: 202010.CSV
erro no arquivo: 202011.CSV
erro no arquivo: 202012.CSV
erro no arquivo: 202102.CSV
erro no arquivo: 202103.CSV
erro no arquivo: 202104.CSV
erro no arquivo: 202106.CSV
erro no arquivo: 202107.CSV
erro no arquivo: 202108.CSV
erro no arquivo: 202112.CSV
erro no arquivo: 202201.CSV
erro no arquivo: 202202.CSV
erro no arquivo: 202203.CSV
erro no arquivo: 202204.CSV

### ValueError

ValueError: Length mismatch: Expected axis has 8 elements, new values have 7 elements

**Problema 1**: Haviam dois arquivos CSV com uma coluna de índice, acarretando a discrepância entre as quantidades de colunas.

**Solução 1**: Utilizar a função *df_temp.drop('', axis=1, inplace=True)* para excluir a coluna de índice indesejada.

**Problema 2**: Continuou a dar problema porque não estava esncontrando a coluna ""

**Solução 2**: Utilizar a função *df_temp.columns.values[0] = 'excluir'* para renomear a coluna de nome vazio para *excluir* e depois utilizar a primeira solução novamente.

In [ ]:
for c in range(len(dir_list)):
    df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
    df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
    df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
    df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)

In [98]:
for c in range(len(dir_list)):
    try:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)
    except:
        print(f'erro no arquivo: {dir_list[c]}')

erro no arquivo: 202112.CSV
erro no arquivo: 202204.CSV

In [ ]:
# Ainda não funcionou, não encontrou um coluna ''.

for c in range(len(dir_list)):
    try:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)
    except ValueError:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp.drop("", axis=1, inplace=True)
        df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)

In [111]:
for c in range(len(dir_list)):
    try:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)
    except ValueError:
        df_temp = pd.read_csv(dir_list[c], encoding='ISO-8859-1', sep=';')
        df_temp.columns.values[0] = 'excluir'
        df_temp.drop('excluir', axis=1, inplace=True)
        df_temp.columns = ['ANO','MES','EMPRESA','ORIGEM','DESTINO','TARIFA','ASSENTOS']
        df_temp = df_temp.loc[(df_temp.ORIGEM == 'SBRF')]
        df_sbrf = pd.concat([df_sbrf, df_temp], ignore_index=True)

In [112]:
df_sbrf

         ANO MES EMPRESA ORIGEM DESTINO   TARIFA ASSENTOS
0       2018   1     AZU   SBRF    SBAE   1007,9        3
1       2018   1     AZU   SBRF    SBAE  1030,53        1
2       2018   1     AZU   SBRF    SBAE   1117,9        1
3       2018   1     AZU   SBRF    SBAE   1157,9        1
4       2018   1     AZU   SBRF    SBAE  1350,93        1
...      ...  ..     ...    ...     ...      ...      ...
704222  2022   8     TAM   SBRF    SWSI  1547,01        1
704223  2022   8     TAM   SBRF    SWSI  1597,00        6
704224  2022   8     TAM   SBRF    SWSI  1767,01        1
704225  2022   8     TAM   SBRF    SWSI  1831,99        1
704226  2022   8     TAM   SBRF    SWSI  1996,00        4

[704227 rows x 7 columns]